{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Match Maker - Sign Up</title>

	<script src="https://unpkg.com/thpace"></script>

	<link rel="stylesheet" href="{% static 'css/canva.css' %}">
	<link rel="stylesheet" href="{% static 'css/dash_style.css' %}">
</head>

<body>
	<canvas id="make-me-cool"></canvas>

	{% if messages %}
	<div id="alertContainer" class="alert alert-danger alert-dismissible fade show" role="alert">
		{% for message in messages %}
		{{ message }}
		{% endfor %}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endif %}

	<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="card-group d-block d-md-flex row">
						<div class="card col-md-7 p-4 mb-0">
							<div class="card-body">
								<form action="{% url 'dash:signup' %}" method="post">
									{% csrf_token %}
									<h1>Sign up</h1>
									<p class="text-medium-emphasis">Create your account</p>

									<div class="input-group mb-3"><span class="input-group-text">
											<svg class="icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
											</svg></span>
										<input class="form-control" type="text" placeholder="Username" name="username"
											required>
									</div>

									<div class="input-group mb-3"><span class="input-group-text">
											<svg class="icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
											</svg></span>
										<input class="form-control" type="email" placeholder="Email" name="email"
											required>
									</div>

									<div class="input-group mb-3"><span class="input-group-text">
											<svg class="icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked">
												</use>
											</svg></span>
										<input class="form-control" type="password" placeholder="Password" name="psw"
											autocomplete="new-password" required>
									</div>

									<div class="input-group mb-3"><span class="input-group-text">
											<svg class="icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked">
												</use>
											</svg></span>
										<input class="form-control" type="password" placeholder="Confirm Password"
											name="confirmpsw" autocomplete="new-password" required>
									</div>

									<div class="row">
										<div class="col-6">
											<button class="btn btn-primary px-4" type="submit">Create Account</button>
										</div>
									</div>
								</form>

							</div>
						</div>
						<div class="card col-md-5 text-white bg-primary py-5">
							<div class="card-body text-center">
								<div>
									<h2>Join Us!</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua.</p>
									<a class="btn btn-lg btn-outline-light mt-3" href="{% url 'web:index' %}">Discover
										More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'js/canva.js' %}"></script>
	<script src="{% static 'js/alerts.js' %}"></script>
</body>

</html>